.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40%;
  color: #482644;
  border-radius: 5px;
}

.input-and-button{
  width: 40%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.label {
  display: none;
}

.input, 
.plants-link {
  appearance: none;
  text-align: center;
  font-weight: bolder;
  background-color: #D9D9D9;
  border: none;
  box-shadow: none;
  border: 1px solid #266;
}

.input:hover, 
.plants-link:hover {
 transform: none;
 border: none;
 box-shadow: none;
 appearance: none;
}

.input:focus {
  border: none;
  box-shadow: none;
}

.plants-link {
  font-family: 'El Messiri', sans-serif;
  display: flex;
  font-size: 12px;
  justify-content: center;
  align-items: center;
  height: 28%;
  width: 30%;
  border-radius: 5px;
  margin: 9px;
  color: #503571;
}

.input {
  width: 83%;
  height: 31%;
  color: #503571;
  font-weight: bolder;
  margin-bottom: 2%;
  border-radius: 5px;
}

.form-button {
  border: 1px solid #82977C;
  border-radius: 5%;
}

.button-image {
  font-size: 2rem;
}

.error-message {
  color: #482644;
  font-size: larger;
  background-color: #82977C;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

@media screen and (max-width: 1068px) {
  .form-container {
    height: 30%;
   }
   
   .input, 
   .plants-link {
     height: 35%;
   }
}

@media screen and (max-width: 887px) {
  .input-and-button{
    width: 80%;
  }

  .form-container {
  height: 25%;
  width: 70%;
  }

  .input, 
  .plants-link {
    height: 35%;
  }
}

@media screen and (max-width: 786px) {
  .input-and-button{
    width: 80%;
  }
  .form-container {
    width: 100%;
  }
}
