.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 8%;
  width: 100%;
  color: #482644;
  border-radius: 5px;
}

.input-and-button{
  width: 40%;
  height: 60%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.input, 
.plants-link {
  appearance: none;
  height: 80%;
  text-align: center;
  font-weight: bolder;
  background-color: #D9D9D9;
  border: none;
  box-shadow: none;
  border: 1px solid #266;
}

.input:hover, 
.form-button:hover {
 transform: none;
 border: none;
 box-shadow: none;
 appearance: none;
}

.input:focus {
  border: none;
  box-shadow: none;
}

.plants-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 10%;
}

.input {
  width: 85%;
  color: #503571;
  font-weight: bolder;
}

.form-button {
  border: 1px solid #82977C;
}

.error-message {
  color: #482644;
  font-size: larger;
  background-color: #82977C;
}