.plant-card {
  height: 360px;
  width: 310px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;
  padding: 10px;
  transition: background-color 0.35s ease-in-out;
  color: white;
}

.card-image {
  border-radius: 30px;
  width: 280px;
  height: 230px;
  margin-top: 5px;
  transition: transform 0.35s ease-in-out;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.6);
}

.card-title {
  padding: 15px;
  text-align: center;
  margin: 0;
  color: white;
  text-decoration: none;
}

.update-my-garden-button {
  appearance: none;
  font-size: 22px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: #f9fafa;
  transition: color 0.3s ease-in-out;
  font-family: 'El Messiri', sans-serif;
  width: 330px;
}

.update-my-garden-button:hover {
  color: rgb(187, 127, 171);
  transform: translateY(-1px);
}

.plant-card:hover {
  background-color: rgba(249, 250, 250, 0.421);
}

.plant-card:hover > .card-image {
  transform: scale(1.02);
}