body {
  background-color: #224136
}

.x-image-button {
  height: 5vh;
  width: 3vw;
}

.back-logo {
  display: flex;

}

.plant-details-container {
  color: white;
  height: 100vh;
  padding: 50px;
  text-align: center;
}

.plant-details-text {
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 15px;
  text-align: center;
}

.planting-care-container {
  padding: 50px;
}

.large-plant-img {
  border-radius: 20px;
  width: 40%;
}
