body {
  background-color: hsl(157, 31%, 13%)
}

.x-image-button {
  width: 3vw;
}

.back-logo {
  display: flex;
}

.plant-details-container {
  color: white;
  height: 100vh;
  padding: 50px;
  text-align: center;
}

.plant-details-text {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
}

.planting-care-container {
  padding: 10px;
}

.large-plant-img {
  border-radius: 20px;
  width: 40%;
}

.plant-text {
  width: 60vw;
}

.plant-title {
  margin-bottom: 14px;
  margin-top: 0px;
}
