body {
  background-color: hsl(157, 31%, 13%);
}

.back-logo {
  display: flex;
}

.x-image-button {
  width: 35px;
}

.large-plant-img {
  width: 80vw;
  border-radius: 20px;
}

.plant-details-container {
  color: white;
  height: 100vh;
  padding: 50px;
  text-align: center;
  overflow-y: scroll;
}

.plant-details-text {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
}

.planting-care-container {
  padding: 10px;
}

.plant-text {
  width: 60vw;
}

@media screen and (min-width: 700px) {
  .large-plant-img {
    width: 550px;
  }
}