.home-container {
  background-image: url('/public/Assets/backgroundherb_720.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100vh;
}

.title-input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 47%;
  max-width: 58%;
  width: 70%;
  color: #D9D9D9;
  font-size: 3.25em;
  margin-top: 8%;
  font-weight: bolder;
  background-color: #224136;
  border-radius: 16px;
}

.logo-and-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.home-title {
  font-size: 88px;
  margin: 0;
  /* margin-top: 5%; */
  text-shadow: 1px 1px 2px #4d1320;
}

.form-container {
  height: 15%;
  width: 100vw;
}

.logo-image {
  background-image: url('../../Images/beet3_720.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 8.5%;
  transform: rotate(-35deg);
}

@media screen and (max-width: 1068px) {

  /* .home-container {
    justify-content: space-evenly;
  } */

  .title-input-container {
    flex-direction: column;
    justify-content: space-evenly;
    justify-content: center;
    font-size: 2.75em;
    height: 60%;
    width: 65%;
  }

  .logo-and-title {
    height: 50%;
    flex-direction: column;
    align-items: center;
  }

  .logo-image {
    width: 10%;
    height: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    top: 0;
    margin: 0;
  }
}

@media screen and (max-width: 887px) {

  .title-input-container {
    flex-direction: column;
    justify-content: space-evenly;
    height: 60%;
    font-size: 2.75em;
  }

  .logo-and-title {
    height: 70%;
    flex-direction: column;
  }

  .logo-image {
    width: 20%;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0;
  }
}

@media screen and (max-width: 786px) {
  .title-input-container {
    flex-direction: column;
    justify-content: space-evenly;
    height: 60%;
    font-size: 2.75em;
  }
}

@media screen and (max-width: 486px) {
  .title-input-container {
    flex-direction: column;
    justify-content: space-evenly;
    height: 65%;
    font-size: 2.75em;
    width: 80%;
  }
}