.dropdown {
  display:none;
  background-color: #D9D9D9;
  width: 30%;
}

.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
}

.dropdown.myGarden {
  top: 100%;
  left: 0;
}

.active {
  display: block;
}

.navigation {
  margin-right: 1%;
  height: 10%;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  padding: 0.5rem 0rem;
  color: black;
}

.nav-logo-image {
  width: 5vw;
}

.hamburger {
  border: 0;
  height: 45px;
  width: 45px;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: #D9D9D9;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  transform: translateY(-50%);
  margin: 3%;
}
.hamburger:hover {
  background-color: #e7b9e4;
  cursor: pointer;
}

.navigationMenu {
  display: none;
  margin-bottom: 50%;
}


.expanded {
  display: block;
}

.expanded > ul> li {
  margin-block: 2px;
}

.expanded > ul {
  position: absolute;
  top: 30%;
  right: 0;
  flex-direction: column;
  width: 20%;
  height: fit-content;
  background-color: #D9D9D9;
  border-bottom:1px solid black;
  border-right:1px solid black;
  display: flex;
  padding: 0;
}

.profile {
  border: none;
  /* background-color: none; */
}

.dropdown.profile {
  top: 0;
  left: 100%;
  background-color: #D9D9D9;
  width: 20%;
}

.expanded > ul >li,
.userProfiles > option {
  text-align: center;
  margin: 0;
  color: black;
  width: 100%;
  padding: 0.5rem 0;
  list-style-type: none;
  border-block-end: 2px solid black;
}

.expanded > ul> li:hover,
.userProfiles > option:hover {
  background-color: #eee;
  color: #b73be4;
  border: 1px solid #b73be4;
}
a {
  text-decoration: none;
}
