.x-button-container {
  display: flex;
  justify-content: flexstart;
  width: 100vw;
}

.x-button {
  height: 5vh;
  margin: 40px;
  width: 3vw;
}

.error-page {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  text-align: center;
}

.error-image {
  width: 300px;
}

.error-component-message {
  font-size: 30px;
  width: 80%;
}