.error-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  color: white;
  text-align: center;
}

.x-button-container {
  display: flex;
  justify-content: flexstart;
  width: 100vw;
}

.x-button {
  height: 5vh;
  width: 3vw;
  margin: 40px;
}

.error-image {
  width: 300px;
}

.error-component-message {
  width: 80%;
  font-size: 30px;
}