.x-image-back-button {
  width: 3vw;
}

.back-logo-container {
  display: flex;
}

.profile-page {
  padding: 50px;
}

.user-image-container {
  display: flex;
  height: 25rem;
  justify-content: center;
  width: 50rem;
  align-items: center;
}

.profile-pic {
  border-radius: 15px;
  height: 24em;
}

.user-info-container {
  height: 31em;
  display: flex;
  padding: 20px;
}

.socials {
  color: white;
  display: flex;
  flex-direction: column;
  height: 25rem;
  justify-content: center;
  width: 50rem;
}

.savedPlantsGrid {
  color: white;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  height: 80%;
  justify-items: space-evenly;
  place-items: center;
  width: 80%;
}

.users-plants-container {
  color: white;
  text-align: center;
}

.profile-name {
  font-size: 2em;
  margin: 0px;
}

.aboutMe {
  width: 35rem;
}

.linked-in {
  color: rgb(187, 127, 171);
}

.github {
  color: rgb(187, 127, 171);
}

