.profile-page {
  /* padding: 50px; */
}

.back-logo-container {
  margin: 20px;
}

.x-image-back-button {
  width: 35px;
}

.user-info-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
}

.user-image-container {
  display: flex;
  justify-content: center;
  width: 90vw;
  align-items: center;
}

.profile-pic {
  border-radius: 15px;
  height: 34vh;
}

.socials {
  color: white;
  display: flex;
  flex-direction: column;
  /* height: 55vh; */
  width: 100vw;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-name {
  font-size: 35px;
  margin: 10px;
}

.aboutMe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80vw;
  margin-bottom: 20px;
}

.linked-in,
.github,
.email {
  color: #f9fafa;
}

.email {
  padding: 25px;
  color: #f9fafa;
}

.linked-in:hover,
.github:hover,
.email:hover {
  color: rgb(97, 141, 125);
}

.users-plants-container {
  color: white;
  text-align: center;
  width: 100%;
}

.savedPlantsGrid {
  color: white;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(1, 1fr);
  place-items: center;
}

@media screen and (min-width: 700px) {
  .savedPlantsGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1025px) {
  .savedPlantsGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}