.x-image-back-button {
  width: 35px;
}

.back-logo-container {
  display: flex;
}

.profile-page {
  padding: 50px;
}

.user-image-container {
  display: flex;
  height: 55vh;
  justify-content: center;
  width: 50vw;
  align-items: center;
}

.profile-pic {
  border-radius: 15px;
  height: 34vh;
}

.user-info-container {
  height: 55vh;
  display: flex;
  padding: 20px;
}

.socials {
  color: white;
  display: flex;
  flex-direction: column;
  height: 55vh;
  justify-content: center;
  width: 50vw;
}

.savedPlantsGrid {
  color: white;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;

}

.users-plants-container {
  color: white;
  text-align: center;
  width: 100%;
}

.profile-name {
  font-size:35px;
  margin: 0px;
}

.aboutMe {
  width: 45vw;
}

.linked-in {
  color: rgb(187, 127, 171);
}

.github {
  color: rgb(187, 127, 171);
}

