.plants-page {
  background-color: #486b61;
  color: #f9fafa;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

.plants-title {
  font-size: 28px;
  margin: 60px 0;
  text-align: center;
}

.beet-logo {
  background-size: contain;
  background-repeat: no-repeat;
  width: 5.5%;
  transform: rotate(-35deg);
  padding-left: 51px;
  padding-top: 21px;
}

.logo-box {
  height: 11vh;
}


.plants-display-grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 70px;
  box-sizing: border-box;
  justify-items: center;
  padding-bottom: 80px; 
  margin-right: 80px;
}

@media screen and (min-width: 720px) {
  .plants-display-grid {
    grid-template-columns: repeat(2, 1fr);
    width: 720px;
  }

  .plants-title {
    font-size: 36px;
  }
}

@media screen and (min-width: 1050px) {
  .plants-display-grid {
    grid-template-columns: repeat(3, 1fr);
    width: 1050px;
  }

  .plants-title {
    font-size: 44px;
  }
}

/* @media screen and (min-width: 1130px) {
  .plants-display-grid {
    grid-template-columns: repeat(4, 1fr);
    width: 1130px;
  }

  .plants-title {
    font-size: 52px;
  }
} */